<div class="modal-header text-center">
    <h3 class="modal-title" id="modal-title">Xác nhận chuyển/nhận vé</h3>
</div>


<div>
    <div class="modal-body">
        <div class="table-responsive resize-tb pl-3rem">
            <table class="table" style="width:100%">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td class="noselect w120px bnor text-left"><strong>Thời gian</strong> </td>
                        <td class="noselect w160px bnor text-left">{{$vm.data.TransitionDate| formatDateTime}}</td>

                        <td class="noselect bnor text-left"></td>
                    </tr>

                    <tr>
                        <td class="noselect w120px bnor text-left"><strong>Hoạt động</strong> </td>
                        <td class="noselect bnor text-left">{{$vm.data.TransitionTypeName}} </td>
                    </tr>

                    <tr>
                        <td class="noselect w120px bnor text-left"><strong>Điểm bán</strong> </td>
                        <td class="noselect bnor text-left">{{$vm.data[$vm.returnTransitionTypeName($vm.data.TransitionTypeId)] }}</td>
                    </tr>

                    <tr >
                        <td class="noselect w120px bnor text-left" style="vertical-align: baseline "><strong > <br/>Chi tiết</strong> </td>
                        <td class="noselect bnor text-left">
                            <div style="text-align: left;" ng-repeat="item in $vm.data.Data" ng-if="item.TotalTrans>0">
                                <br />{{$vm.getLotteryName(item.LotteryChannelId)}}
                            </div>

                            <div style="text-align: left;" ng-repeat="item in $vm.data.Data" ng-if="item.TotalTransDup>0">
                                <br />{{$vm.getLotteryName(item.LotteryChannelId)}} (Vtr)
                            </div>
                        </td>

                        <td class="noselect bnor text-left">
                            <div style="text-align: left;" ng-repeat="item in $vm.data.Data" ng-if="item.TotalTrans>0">
                                <br /> {{item.TotalTrans}}
                            </div>

                            <div style="text-align: left;" ng-repeat="item in $vm.data.Data" ng-if="item.TotalTransDup>0">
                                <br /> {{item.TotalTransDup}}
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal-footer">
    <button ng-disabled="$vm.isLoading" class="btn btn-danger" type="button" ng-if="$vm.data.ConfirmStatusId ==1" ng-click="$vm.getBootBox(false)">Huỷ yêu cầu</button>

    <button ng-disabled="$vm.isLoading" class="btn btn-success" type="button"  ng-if="$vm.data.ConfirmStatusId ==1" ng-click="$vm.getBootBox(true)">Xác nhận</button>

    <button ng-disabled="$vm.isLoading" class="btn btn-secondary" type="button" ng-click="$vm.cancel()">Đóng</button>
</div>