<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Trả nợ</h3>
</div>

<div class="modal-body">
    <label for="customerName" class="rq-form">Khách hàng</label>
    <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Nhập tên - số điện thoại" required ng-model="$vm.saveData.CustomerName">
    <label for="amount" class="rq-form">Số tiền trả</label>
    <input ng-change="numToCurrency( $vm.saveData,'Amount',$vm.saveData.Amount? $vm.saveData.Amount: '0',{{$vm.saveData.Amount? $vm.saveData.Amount: '0'}})" type="text" class="form-control" id="amountPrice" name="" placeholder="Nhập số tiền trả" required
           ng-model="$vm.saveData.Amount">
    <label for="note" class="rq-form">Ghi chú</label>
    <textarea class="form-control" id="note" name="note" placeholder="Ghi chú" rows="4" ng-model="$vm.saveData.Note ">
  </textarea>
</div>
<div class="modal-footer">
    <img src="../images/loading-dot.gif" ng-if="$vm.isSaving" class="float-r" style="height: 45px; width: 120px;">
    <button class="btn btn-success" ng-if="!$vm.isSaving" type="submit" ng-click="$vm.save()">Xác nhận</button>
    <button class="btn btn-secondary" ng-if="!$vm.isSaving" type="button" ng-click="$vm.cancel()">Đóng</button>
</div>