<div class="card sub-header-container card" id="subHeader">
    <header class="header navbar navbar-expand-sm">
        <!--<a ng-if="!isExpanded" href="javascript:void(0);" ng-click="toggleMenu()" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-maximize-2"><polyline points="15 3 21 3 21 9"></polyline><polyline points="9 21 3 21 3 15"></polyline><line x1="21" y1="3" x2="14" y2="10"></line><line x1="3" y1="21" x2="10" y2="14"></line></svg></a>-->
        <a ng-if="temp == false " href="javascript:void(0);" ng-click="toggleMenu()" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-maximize-2"><polyline points="15 3 21 3 21 9"></polyline><polyline points="9 21 3 21 3 15"></polyline><line x1="21" y1="3" x2="14" y2="10"></line><line x1="3" y1="21" x2="10" y2="14"></line></svg></a>
        <a ng-if="temp == true" href="javascript:void(0);" ng-click="toggleMenu()" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minimize-2"><polyline points="4 14 10 14 10 20"></polyline><polyline points="20 10 14 10 14 4"></polyline><line x1="14" y1="10" x2="21" y2="3"></line><line x1="3" y1="21" x2="10" y2="14"></line></svg></a>
        <ul class="navbar-nav flex-row">
            <li ng-if="parent1">
                <div class="page-header">
                    <div class="page-title">
                        <!--<h3><a ui-sref="{{urlParent1}}">{{parent1}}</a></h3>-->
                        <h3 class="cursor title_padding" ng-click="ChangePage(urlParent1, param1)">
                            {{parent1}}
                        </h3>
                    </div>
                </div>
            </li>
            <li ng-if="parent1">
                <div class="page-header">
                    <div class="page-title">
                        <h3>/</h3>
                    </div>
                </div>
            </li>
            <li ng-if="parent2">
                <div class="page-header">
                    <div class="page-title">
                        <!--<h3><a ui-sref="{{urlParent2}}">{{parent2}}</a></h3>-->
                        <h3 class="cursor title_padding" ng-click="ChangePage(urlParent2, param2)" >
                             {{parent2}}
                        </h3>
                    </div>
                </div>
            </li>
            <li ng-if="parent2">
                <div class="page-header">
                    <div class="page-title">
                        <h3>/</h3>
                    </div>
                </div>
            </li>
            <li>
                <div class="page-header">
                    <div class="page-title">
                        <h3 style="cursor:default" class="title_padding">{{title}}</h3>
                    </div>
                </div>
            </li>
        </ul>
    </header>
</div>