:root {
    --first-column-width: 5vw;
    --second-column-width: 20vw;
    --third-column-width: 5.5vw;
}
.w100 {
    min-width: 100px;
    max-width: 100px;
}

.w120 {
    min-width: 120px;
    max-width: 120px;
}

.link-css {
    text-decoration: underline;
    color: #2b6fc8 !important;
}

.w160px {
    width: 160px !important;
}

.bg-sum {
    background: #7a009f;
    color: #fff !important;
}

.bg-num {
    background: #f6ddff;
}

.border-special {
    border-right: 2px solid #000 !important;
}


.w120px {
    max-width: 120px;
    min-width: 120px;
    width: 120px
}

.w150px {
    max-width: 150px;
    min-width: 150px;
    width: 150px
}

.w100px {
    max-width: 100px;
    min-width: 100px;
    width: 100px
}
.panel-footer {
    font-size: none;
}


@media (max-width: 575px) {

    .resize-tb {
        max-height: 50vh;
    }



    .panel-footer {
        font-size: 9px;
    }
}


.title-flex {
    display:flex;
    flex-wrap:wrap
}

.bold-Num {
    font-size: 25px;
    font-weight: 700;
}


.arrow-left-1 {
    width: 20px;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 42px solid #dfdfdf;
}

.table-roll {
    max-height: 75vh;
    overflow-y: auto;
}

.first-colunm-sticky-custom {
    position: sticky !important;
    left: 0;
    top: 0;
    min-width: var(--first-column-width);
    max-width: var(--first-column-width);
    z-index: 100;
}

.second-colunm-sticky-custom {
    position: sticky !important;
    left: var(--first-column-width);
    top: 0;
    min-width: var(--second-column-width);
    max-width: var(--second-column-width);
    z-index: 100;
}
.third-colunm-sticky-custom {
    position: sticky !important;
    left: calc(var(--first-column-width) + var(--second-column-width));
    top: 0;
    min-width: var(--third-column-width);
    max-width: var(--third-column-width);
    z-index: 100;
}

.fourth-colunm-sticky-custom {
    position: sticky !important;
    left: calc(var(--first-column-width) + var(--second-column-width) + var(--third-column-width));
    top: 0;
    z-index: 100;
}

.min-width-table{
    min-width: 100px;
}
.height-table{
    height: 40px;
}
.bg-admin{
    background-color: rgb(207,226,243);
}
.bg-admin-total{
    background-color: rgb(252,229,205);
}
.bg-total{
    background-color: #edde34;
}
.editItem {
    background: #e0e0e0;
    border: inherit !important;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 1px !important;
    color: #1b55e2;
    margin: 7px;
}

.editItem.active {
    color: white !important;
    background-color: #5796FF !important;
}
