<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h4>Đại lý vé số TẤN PHÁT</h4>

    <p>Thay đổi mật khẩu thành công</p>
    <p>Xin chào bạn,</p>

    <p>Tài khoản Tấn Phát của bạn vừa được thay đổi mật khẩu</p>

    <div style="display: flex; flex-wrap: wrap; margin-left: 20px;">
        <p style=" -ms-flex: 0 0 50%; flex: 0 0 50%;  max-width: 50%; margin: 0px;">THỜI GIAN: </p>
        <p style=" -ms-flex: 0 0 50%; flex: 0 0 50%;  max-width: 50%; margin: 0px;">##thoigian</p>
    </div>

    <div style="display: flex; flex-wrap: wrap; margin-left: 20px;">
        <p style=" -ms-flex: 0 0 50%; flex: 0 0 50%;  max-width: 50%; margin: 0px;">THIẾT BỊ: </p>
        <p style=" -ms-flex: 0 0 50%; flex: 0 0 50%;  max-width: 50%; margin: 0px;">##thietbi</p>
    </div>

    <div style="display: flex; flex-wrap: wrap; margin-left: 20px;">
        <p style=" -ms-flex: 0 0 50%; flex: 0 0 50%;  max-width: 50%; margin: 0px;">MẬT KHẨU MỚI: </p>
        <p style=" -ms-flex: 0 0 50%; flex: 0 0 50%;  max-width: 50%; margin: 0px;">##matkhau</p>
    </div>

    <p>Nếu đó không phải là bạn, thì có thể người nào đó đang sử dụng mật khẩu của bạn để đăng nhập vào tài khoản Tấn Phát</p>

    <p>Trong trường hợp này, hãy mở Web và ĐỔI MẬT KHẨU ngay lập tức để chủ động bảo vệ tài khoản của bạn!</p>

    <p>Trân trọng</p>
</body>
</html>
