<div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
    <div class="container-fluid wh-bg pb-10 mt-10">
        <div class="row mt-3 flex">
            <div class="">
                <monthyearpicker my-class="input-sm datepicker-new" date-format="MM/YYYY" placeholder="All month"
                                 ng-model="$vm.params.month" on-select="$vm.submitSearch(date)" output-format="YYYY-MM"></monthyearpicker>
            </div>
        </div>
        <div class="m10">
            <div id="calendar"></div>
        </div>

    </div>
</div>