<div class="div" >
    <ul class="nav nav-tabs  " id="iconTab" role="tablist">
        <li class="nav-item cursor" ng-click="$vm.changeTab('target_lottery')">
            <a class="nav-link active" id="target_lottery_tab" data-toggle="tab" role="tab"
               aria-controls="icon-home" aria-selected="true">
               VSTT
            </a>
        </li>
        <li class="nav-item cursor" ng-click="$vm.changeTab('responsibility_lottery')">
            <a class="nav-link pt8px " id="responsibility_lottery_tab" data-toggle="tab" role="tab"
               aria-controls="icon-home" aria-selected="true">
                Trách nhiệm vé
            </a>
        </li>
        <li class="nav-item cursor" ng-click="$vm.changeTab('target_vietlott')">
            <a class="nav-link" id="target_vietlott_tab" data-toggle="tab" role="tab"
               aria-controls="icon-home" aria-selected="true">
                Vietlott
            </a>
        </li>
        <li class="nav-item cursor" ng-click="$vm.changeTab('kpi')">
            <a class="nav-link" id="kpi_tab" data-toggle="tab" role="tab"
               aria-controls="icon-home" aria-selected="true">
                KPI
            </a>
        </li>
    </ul>

    <div class="tab-content-level-1">
        <div class="tab-pane fade" ng-class="{'show active': $vm.view == 'target_lottery'}"
             id="target_lottery"
             role="tabpanel" aria-labelledby="target_lottery_tab">
            <div class="card card-create-container">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="noselect theader text-center"><span>Từ</span></th>
                            <th class="noselect theader text-center"><span>Đến</span></th>
                            <th class="noselect theader text-center"><span>Thưởng</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="noselect" ng-repeat="item in $vm.targetLottery">
                            <td class="noselect w120 text-right" ng-class="{'bg-sky' : $index % 2 == 1}">
                               <!-- <input type="text" ng-model="item.minTarget ">-->
                                <input type="text"
                                       ng-change="item.minTarget = numToCurrency(item.minTarget)"
                                       ng-model="item.minTarget  " />
                            </td>
                            <td class="noselect w120 text-right" ng-class="{'bg-sky' : $index % 2 == 1}">
                                <!--<input type="text" ng-model="item.maxTarget">-->
                                <input type="text"
                                       ng-change="item.maxTarget = numToCurrency(item.maxTarget)"
                                       ng-model="item.maxTarget  " />
                            </td>
                            <td class="noselect w120 text-center" ng-class="{'bg-sky' : $index % 2 == 1}">
                                <input type="text"
                                       ng-change="item.commission = numToCurrency(item.commission)"
                                       ng-model="item.commission  " />
                                    
                            </td>
                        </tr>
                        <tr ng-if="!$vm.targetLottery || $vm.targetLottery <=0">
                            <td colspan="99" class="text-center">Không tìm thấy dữ liệu nào...</td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-success" type="submit" ng-click="$vm.saveChanges()">Lưu</button>
            </div>
        </div>

        <!---->
        <div class="tab-pane fade" ng-class="{'show active': $vm.view == 'responsibility_lottery'}"
             id="responsibility_lottery"
             role="tabpanel" aria-labelledby="responsibility_lottery_tab">
            <div class="card card-create-container">
                <table class="table table-hover ">
                    <thead>
                        <tr>
                            <th class="noselect theader text-center"><span>Từ</span></th>
                            <th class="noselect theader text-center"><span>Đến</span></th>
                            <th class="noselect theader text-center"><span>Thưởng</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="noselect" ng-repeat="item in $vm.responsibilityLottery">
                            <td class="noselect w120 text-right" ng-class="{'bg-sky' : $index % 2 == 1}">

                                <!--<input type="text" ng-model="item.minTarget">-->
                                <input type="text"
                                       ng-change="item.minTarget = numToCurrency(item.minTarget)"
                                       ng-model="item.minTarget  " />
                            </td>
                            <td class="noselect w120 text-right" ng-class="{'bg-sky' : $index % 2 == 1}">

                                <!--<input type="text" ng-model="item.maxTarget">-->
                                <input type="text"
                                       ng-change="item.maxTarget = numToCurrency(item.maxTarget)"
                                       ng-model="item.maxTarget  " />
                            </td>
                            <td class="noselect w120 text-center" ng-class="{'bg-sky' : $index % 2 == 1}">

                                <input type="text"
                                       ng-change="item.commission = numToCurrency(item.commission)"
                                       ng-model="item.commission  " />
                            </td>

                        </tr>
                        <tr ng-if="!$vm.responsibilityLottery || $vm.responsibilityLottery <=0">
                            <td colspan="99" class="text-center">Không tìm thấy dữ liệu nào...</td>
                        </tr>
                </table>
                <button class="btn btn-success" type="submit" ng-click="$vm.saveChanges()">Lưu</button>
            </div>
        </div>
        <!---->
        <div class="tab-pane fade" ng-class="{'show active': $vm.view == 'target_vietlott'}" id="target_vietlott"
             role="tabpanel" aria-labelledby="target_vietlott_tab">
            <div class="card card-create-container">
                <table class="table table-hover ">
                    <thead>
                        <tr>
                            <th class="noselect theader text-center"><span>Từ</span></th>
                            <th class="noselect theader text-center"><span>Đến</span></th>
                            <th class="noselect theader text-center"><span>Thưởng</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="noselect" ng-repeat="item in $vm.targetVietlott">
                            <td class="noselect w120 text-right" ng-class="{'bg-sky' : $index % 2 == 1}">
                                <!--<input type="text" ng-model="item.minTarget">-->
                                <input type="text"
                                       ng-change="item.minTarget = numToCurrency(item.minTarget)"
                                       ng-model="item.minTarget  " />
                            </td>
                            <td class="noselect w120 text-right" ng-class="{'bg-sky' : $index % 2 == 1}">
                                <!--<input type="text" ng-model="item.maxTarget">-->
                                <input type="text"
                                       ng-change="item.maxTarget = numToCurrency(item.maxTarget)"
                                       ng-model="item.maxTarget  " />
                            </td>
                            <td class="noselect w120 text-center" ng-class="{'bg-sky' : $index % 2 == 1}">
                                <input type="text"
                                       ng-change="item.commission = numToCurrency(item.commission)"
                                       ng-model="item.commission  " />
                            </td>
                        </tr>
                        <tr ng-if="!$vm.targetVietlott || $vm.targetVietlott <=0">
                            <td colspan="99" class="text-center">Không tìm thấy dữ liệu nào...</td>
                        </tr>
                </table>
                <button class="btn btn-success" type="submit" ng-click="$vm.saveChanges()">Lưu</button>
            </div>

        </div>
        <!---->
        <div class="tab-pane fade" ng-class="{'show active': $vm.view == 'kpi'}" id="kpi"
             role="tabpanel" aria-labelledby="kpi_tab">
            <div class="card card-create-container">
                <table class="table table-hover ">
                    <thead>
                        <tr>
                            <th class="noselect theader text-center"><span>Từ</span></th>
                            <th class="noselect theader text-center"><span>Đến</span></th>
                            <th class="noselect theader text-center"><span>Hệ số Ki</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="noselect" ng-repeat="item in $vm.targetKPI">
                            <td class="noselect w120 text-right" ng-class="{'bg-sky' : $index % 2 == 1}">
                                <!--<input type="text" ng-model="item.minTarget">-->
                                <input type="text"
                                       ng-change="item.minTarget = numToCurrency(item.minTarget)"
                                       ng-model="item.minTarget " />
                            </td>
                            <td class="noselect w120 text-right" ng-class="{'bg-sky' : $index % 2 == 1}">
                                <!--<input type="text" ng-model="item.maxTarget ">-->
                                <input type="text"
                                       ng-change="item.maxTarget = numToCurrency(item.maxTarget)"
                                       ng-model="item.maxTarget " />
                            </td>
                            <td class="noselect w120 text-center" ng-class="{'bg-sky' : $index % 2 == 1}">
                                <input type="text"
                                       ng-change="item.commission = numToCurrency(item.commission)"
                                       ng-model="item.commission  " />
                            </td>
                        </tr>
                        <tr ng-if="!$vm.targetKPI || $vm.targetKPI <=0">
                            <td colspan="99" class="text-center">Không tìm thấy dữ liệu nào...</td>
                        </tr>
                </table>
                <button class="btn btn-success" type="submit" ng-click="$vm.saveChanges()">Lưu</button>
            </div>

        </div>
    </div>

</div>