<div class="col-12 layout-spacing">
    <div class="container-fluid wh-bg mt-10">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12 col-lg-3 pt10">
                <label>Tháng</label>
                <monthyearpicker my-class="input-sm datepicker-new" date-format="MM-YYYY" placeholder="All month"
                                 ng-model="$vm.month" on-select="$vm.loadData()" output-format="YYYY-MM"></monthyearpicker>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12 col-lg-3 pt10">
                <label>Chọn điểm bán</label>
                <ui-select ng-model="$vm.params.salePointId" ng-change="$vm.loadData()"
                           theme="select2" search-enabled="false" >
                    <ui-select-match placeholder="Chọn điểm bán" allow-clear="false">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices position="down" repeat="ele.Id.toString() as ele in $vm.listSalePoint">
                        {{ele.Name}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <h2 class="mt-10">Lịch làm việc tháng {{$vm.thisMonth}}</h2>
        <div style="overflow: auto">
            <div class="table-responsive resize-tb">
                <div>
                    <table class="table w100p table-wrapper-scroll-y my-custom-scrollbar">
                        <thead>
                            <tr>
                                <th class="theader text-center fix-scroll">Ngày</th>
                                <th class="theader text-center fix-scroll">Thứ</th>
                                <th class="theader text-center fix-scroll">Ca 1</th>
                                <th class="theader text-center fix-scroll">Ca 2</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="border-bottom: 1px solid" ng-repeat="item in $vm.listMonth">

                                <td class="text-center" repeat="ele in $vm.listMonth" ng-class="{'bg-WkEnd': item.IsWeekEnd}">{{$index+1}}</td>

                                <td class="text-center" repeat="ele in $vm.listMonth" ng-class="{'bg-WkEnd': item.IsWeekEnd}">{{item.DateName}}</td>

                                <td class="text-center" ng-class="item.Shift1 !== null ? 'bg-color' : '' ">
                                    <ui-select ng-model="item.Shift1"
                                               theme="select2" search-enabled="false">
                                        <ui-select-match placeholder="-" allow-clear="false" class="text-center">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices position="down" repeat="ele.Id as ele in $vm.listStaff">
                                            {{ele.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td class="text-center"  ng-class="item.Shift2 !== null ? 'bg-color' : '' ">
                                    <ui-select ng-model="item.Shift2"
                                               theme="select2" search-enabled="false" ng-change="$vm.onChangeShift2(item, $index)">
                                        <ui-select-match placeholder="-" allow-clear="false" class="text-center">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices position="down" repeat="ele.Id as ele in $vm.listStaff">
                                            {{ele.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="btn btn-primary float-r mt-10" ng-click="$vm.save()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu </div>
        </div>
    </div>
</div>