<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Đổi mật khẩu</h3>
</div>
<form class="trial-form" name="formChangePassword" ng-submit="$vm.save()" autocomplete="off" novalidate>
    <div class="form-group">
        <div class="row p-3 form-group">
            <div class=" col-12">
                <label for="oldPassword" class="rq-form">Mật khẩu hiện tại</label>
                <input type="password" class="form-control" id="oldPassword" name="oldPassword" ng-class="{'invalid-input': formChangePassword.oldPassword.$invalid && formChangePassword.$submitted}" placeholder="Nhập mật khẩu hiện tại" required autocomplete="current-password" ng-model="$vm.userInfo.CurrentPassword">
                <span  ng-click="$vm.toggleShowOldPassword()" id="oldPasswordToggle"  class="fa fa-fw fa-eye field-icon"></span>
            </div>
            <div class=" col-12">
                <label for="newPassword" class="rq-form">Mật khẩu mới</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword" ng-class="{'invalid-input': formChangePassword.newPassword.$invalid && formChangePassword.$submitted}" placeholder="Nhập mật khẩu mới" required autocomplete="new-password" ng-model="$vm.userInfo.NewPassword">
                <span  ng-click="$vm.toggleShowNewPassword()" id="newPasswordToggle"  class="fa fa-fw fa-eye field-icon"></span>
            </div>
            <div class=" col-12">
                <label for="reNewPassword" class="rq-form">Nhập lại mật khẩu mới</label>
                <input type="password" class="form-control" id="reNewPassword" name="reNewPassword" ng-class="{'invalid-input': formChangePassword.reNewPassword.$invalid && formChangePassword.$submitted}" placeholder="Nhập lại mật khẩu mới" required autocomplete="new-password" ng-model="$vm.userInfo.reNewPassword">
                <span  ng-click="$vm.toggleShowReNewPassword()" id="reNewPasswordToggle"  class="fa fa-fw fa-eye field-icon"></span>

            </div>
        </div>
        <div class="text-center text-danger" ng-if="$vm.errorMsg" >{{$vm.errorMsg}}</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="submit" ng-disabled="$vm.isSaving">Lưu</button>
        <button class="btn btn-secondary" type="button" ng-click="$vm.cancel()">Huỷ</button>
    </div>
</form>